# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-electron/
out/
build/
*.exe
*.msi

# Rust / Tauri build artifacts
src-tauri/target/
src-tauri/gen/
Cargo.lock

# Environment variables & secrets
.env
.env.local
.env.*.local

# IDE and OS junk
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
